<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmall.user">

    <application>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.UserRegisterActivity" />
        <activity android:name=".login.SmsCodeLoginActivity" />
        <activity android:name=".UserInfoActivity"></activity>
    </application>

</manifest>